@font-face {
  font-family: 'InputMonoEL';
  src: url('../../font/InputMono-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'InputMonoELItalic';
  src: url('../../font/InputMono-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'InputMonoMedium';
  src: url('../../font/InputMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'InputMonoBold';
  src: url('../../font/InputMono-Bold.ttf') format('truetype');
}

.elItalic {
  font-family: 'InputMonoELItalic', sans-serif;
}


.medium {
  font-family: 'InputMonoMedium', sans-serif;
}
